{% extends "layouts/default.html.twig" %}

{% block title %}Home Page{% endblock %}
{% block description %}Home Page Description{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ frontend_url('assets/index.css') }}">
{% endblock %}

{% block content %}
    <main>
        <section>
            <h1>Hello, world!</h1>
        </section>
    </main>
{% endblock %}
